<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imionator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <p class="instructions-font-style">Mamy dla Ciebie pomoc</p>
    <img th:src="@{/image/baby.jpg}" class="img-circle img-responsive img-border img-small margin" alt="Noworodek"/>

    <pre>
        Wybierz płeć i kategorię z listy poniżej, a następnie kliknij przycisk wylosuj.
        Imionator wylosuje dla Ciebie imię. Losować możesz wielokrotnie.
    </pre>

    <form th:object="${randomName}" th:action="@{/randomResult}" th:method="post">
        <div class="form-group">
            <label class="instructions-font-style" for="sex">Wybierz płeć</label>
            <select class="form-control selectpicker" id="sex" name="sex">
                <option th:each="sex : ${T(pl.imionator.imionator.domain.Sex).values()}"
                        th:value="${sex}"
                        th:text="${sex.displayValue}"
                        th:selected="${sex == drawnName.sex}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="instructions-font-style" for="nameCategory">Wybierz kategorię</label>
            <select class="form-control selectpicker" id="nameCategory" name="nameCategory">
                <option th:each="nameCategory : ${T(pl.imionator.imionator.domain.NameCategory).values()}"
                        th:value="${nameCategory}"
                        th:text="${nameCategory.displayValue}"
                        th:selected="${nameCategory == drawnName.nameCategory}"></option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Wylosuj</button>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Wylosowane imię</th>
            <th>Kategoria imienia</th>
        </tr>
        </thead>
        <tbody th:if="${!namesDrawnFromPropositions.empty}">
        <tr th:each="name : ${drawnName}">
            <td th:text="${!#strings.isEmpty(drawnName.firstName)} ? ${name.firstName} : 'Wylosowałeś wszystkie możliwe imiona z kategori: '"></td>
            <td th:text="${name.nameCategory != null} ? ${name.nameCategory.displayValue} : ''"></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group btn-group-vertical">
        <a href="/stats" class="btn btn-primary" role="button">
            Zobacz statystykę wylosowanych imion <span class="glyphicon glyphicon-signal"></span></a>
        <a href="/" class="btn btn-primary" role="button">
            Powrót na stronę główną <span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
</div>
</body>
</html>