<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Imionator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <p class="instructions-font-style margin-small">Wynik losowania</p>
    <img th:src="@{/image/baby.jpg}" class="img-circle img-responsive img-border img-small" alt="Noworodek"/>
    <div th:if="${name != null}">
        <form class="form-horizontal margin-small" th:object="${name}" th:action="@{/result}">
            <div class="form-group">
                <label class="instructions-font-style">Wylosowałeś imię:</label>
                <input type="text" class="form-control" th:field="*{firstName}"/>
            </div>
        </form>
    </div>
    <div th:if="${name == null}">
        <p class="instructions-font-style">Nie podałeś żadnego imienia. Wróć na stronę główną.</p>
    </div>
    <div class="btn-group btn-group-vertical">
        <a href="/result" class="btn btn-primary" role="button">
            Wylosuj ponownie <span class="glyphicon glyphicon-download-alt"></span></a>
        <a href="/names" class="btn btn-primary" role="button">Powrót na stronę główną</a>
        <a href="/stats" class="btn btn-primary" role="button">
            Zobacz statystykę wylosowanych imion <span class="glyphicon glyphicon-signal"></span></a>
    </div>
</div>
</body>
</html>