<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Names list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${name}" th:action="@{/result}">
        <div class="form-group">
            <label class="control-panel">Wylosowane imię:</label>
            <input type="text" class="form-control" th:field="*{firstName}"/>
        </div>
    </form>
    <div class="row">
        <a href="/result">Wylosuj kolejne imię</a>
    </div>
    <div class="row">
        <a href="/names">Powrót na stronę losowania</a>
    </div>
    <div class="row">
        <a href="/stats">Zobacz statystykę wylosowanych imion</a>
    </div>
</div>
</body>
</html>